<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=4, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <!-- <div>
        <h1> DB playground </h1>
        <h3> Adding new city </h3>        
        <input name="name">
        <input name="countryCode"> 
        <input name="distrinct">
        <input name="population" number>
        <button> Add </button>
    </div>-->
  

</html>